.message h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 3rem 0;
  align-items: center;
  text-align: center;
  margin: 20px 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media (min-width: 1064px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.house_card {
  width: 100%;
  background-color: yellow;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

@media (min-width: 768px) {
  .house_card {
    width: 48%;
    margin: 0.3rem;
    gap: 10px;
  }
}

@media (min-width: 1064px) {
  .house_card {
    width: 23%;
  }
}

.house_card:visited {
  color: black;
}

.house_card:active {
  color: black;
}

.house_card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  background-color: rgb(240, 240, 240);
  height: 8rem;
}

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem;
}

.card_text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
