main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.house_card {
  width: 100%;
  background-color: yellow;
  border-radius: 20px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .house_card {
    width: 48%;
    margin: 0.5rem;
  }
}

@media (min-width: 1064px) {
  .house_card {
    width: 23%;
  }
}

.house_card:visited {
  color: black;
}

.image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  background-color: white;
  height: 8rem;
}

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
