.header_wrapper {
  position: relative;

}

.container_header {
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: yellow;
  background-color: rgb(6, 6, 6, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}

img {
  height: 60px;
  border-radius: 50%;
  margin: 5px 0;
  padding: 0;
}

.title_logo {
  font-size: 2rem;
  margin: 0 10px 0 20px;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;

}

.logo_wrapper:visited {
  color: yellow;
}

.logo_wrapper:active {
  color: yellow;
}

.link_section:visited {
  color: yellow;
}

.link_section {
  color: yellow;
}

.user_icon {
  margin: 10px;
  width: 1.5rem;
  height: inherit;
  color: yellow;
}

@media (min-width: 1064px) {
  .logo_wrapper {
    width: 50%;
  }
}


.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}

.menu_items {
  font-size: 1rem;
  margin: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button_header {
  display: flex;
  align-items: center;
}

.btn_header {
  margin: 0 10px;
  border-radius: 35px;
  border: 0;
  padding: 5px 10px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn_header:hover {
  background-color: #ffd900;
}

.desktop_header {
  display: none;
  align-items: center;
  margin-right: 5px;
}

@media (min-width: 1064px) {
  .desktop_header {
    display: flex;
    justify-content: space-between;

  }
}

.burger {
  width: 3rem;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: yellow;
}

@media (min-width: 1064px) {
  .burger {
    display: none;

  }
}

.burger svg {
  fill: yellow;

}
