.container_form {
  max-width: 50%;
  margin: 200px auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px;
}

.form_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  padding: 50px 0;
  margin: 0;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

.form_section {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  cursor: pointer;
}


.form_input {
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  border-radius: 10px;
  border: solid 1px rgb(175, 175, 175);
}

.form_radio {
  display: flex;
  flex-wrap: wrap;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  width: 100px;
}

p {
  margin: 0 10px;
}

.button {
  display: flex;
  justify-content: center;
}

.form_btn {
  width: 50%;
  height: 45px;
  padding: 10px 10px;
  border-radius: 10px;
  border: solid 1px#919191;
  color: gray;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: auto;
}



.test {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.test div {
  width: 100%;
}
