.user_wrapper {
  display: flex;
  width: 100%;
}

.side_menu {
  width: 30%;
  height: 100vh;
  background-color: white;
}

.side_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side_menu ul li {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  position: relative;
}

.side_menu ul li:hover {
  background-color: lightgrey;
}

.user_container {
  background-image: url("/src/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 100vh;

}
